<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/CSS/index.css">
</head>
<body>
    <main>
        <div class="hero-container">
            <picture>
                <source media="(max-width: 766px)" srcset="/assets/images/hero/home/h3/h3-320-533.png.png">
                <source media="(min-width: 767px)" srcset="/assets/images/hero/home/h4/h4-2046-1228diversita.jpg.jpg">
                <img src="/assets/images/hero/home/h4/h4-2046-1228diversita.jpg.jpg" alt="">
            </picture>
            <video autoplay loop muted plays-inline src="/assets/images/hero/videos/h2-video-ultimi-giochi.mp4"></video>
            <div class="hero-wrapper">
                <div class="hero-text">
                    <h3>Titolo Hero</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, ab quam. Architecto cupiditate doloribus beatae?</p>
                </div>
                <div class="hero-content">
                    <img class="pegi" src="/assets/images/hero/home/h1/pegi-16.webp" alt="hero-image" />
                </div>             
            </div>
        </div>
    </main>
</body>
</html>