<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="hero-container">
            <div class="hero-wrapper">
                <div class="hero-content"></div>
                <div class="hero-media">
                    <video autoplay loop muted plays-inline src="../assets/images/hero/videos/h2-video-ultimi-giochi.mp4">
                    </video>
                    <img src="../assets/images/hero/home/h1-2910-1164.jpg" 
                         srcset="" 
                         sizes="
                            (max-width:320px),
                            (max-width:768px),
                            (max-width:1025px),
                            (max-width:1458px)
                               "
                         alt="hero-image "
                    >
                </div>
            </div>
        </div>
    </main>
</body>
</html>