@use '../../layouts';
@use '../../basic-layout';
@use '../../colors';
@use '../../tipography';
@use '../../header';
@use '../../footer';
@use '../../hero';

/* == Page == */

// INIZIO -->   Sezione Giochi 

body,
html {
    width: 100%;
    background-color: #f3f3f3;
}

.content-wrap {
    // section-wrapper
    display: flex;
    justify-content: center;
    width: 90vw;
    flex-direction: column;
    margin: 2rem 0;
    row-gap: 1rem;
    padding: 10px;

    .title-game {
        h3 {
            //titolo della sezione
            @extend %flexcenter;
            font-family: var(--font-family-display-bold);
            font-size: var(--font-size-section-title);
            padding: 10px;
            text-align: center;

        }
    }

    .game-box {
        transition: 1s;
        
        .image_overlay {


            .block {
             
            }

            .span_games {
                color: #a3a3a3;

                &:hover {
                    color: white;
                }
            }



        }



        .image_overlay:hover .block {
            transition: 1s;





            .second {
                transform: translateY(20px);
                transition: .4s ease;
            }

            .third {
                transform: translateY(40px);
                transition: .4s ease;
            }


        }
    }

}


.image_overlay::before {

    background: linear-gradient(0deg, rgb(11, 5, 52, 0.7), rgba(11, 5, 52, 0.7));

}







a:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}


.block {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    text-align: center;
    color: #a3a3a3;

    :hover {
        color: white;
    }

    a {
        height: 30px;
    }
}



//css del button

.content-details {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 111px;

    .details {

        display: flex;
        justify-content: center;
        border: 2px solid #161616;
        line-height: 27px;
        border-radius: 3px;
        color: #161616;
        font-size: var(--font-size-span);

        p {
            margin: 0 6px;
            font-family: var(--font-family-display-regular);
        }

        @extend %start-scale-padding;

        &:hover {
            @extend %scale-padding;
        }
    }
}


@media screen and(max-width:639px) {
    .content-details {
        width: 100%;

        .details {
            width: 100%;
        }
    }
}

.navTab {
    @extend %bottom-line;

    .navTabArticles {

        .linkTab {
            .content {
                letter-spacing: 0px;
            }
        }
    }
}



@media all and (min-width:768px) {
    .content-wrap {
        width: 82vw;

        .grid-games {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.55rem;
        }
    }


}




@media all and (min-width:1024px) {
    .content-wrap {
        width: 85vw;

        .grid-games {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.75rem;
        }
    }

}

@media all and (min-width: 1456px) {
    .content-wrap {
        width: 75vw;
    }
}