@use '../../layouts';
@use '../../basic-layout';
@use '../../colors';
@use '../../tipography';
@use '../../header';
@use '../../footer';
@use '../../hero';


            // <picture>
            //     <source media="(max-width: 768px)" srcset="/assets/images/hero/news/h3-1534-696-notizie.jpg">
            //     <source media="(max-width: 1024px)" srcset="/assets/images/hero/news/h3-2046-560notizie.jpg.jpg">
            //     <source media="(max-width: 1456px)" srcset="/assets/images/hero/news/h3-2910-600notizie.jpg.jpg">
            //     <source media="(max-width: 1920px)" srcset="/assets/images/hero/news/h3-3840-600-notiziee.jpg">
            //     <img class="img-text" src="/assets/images/hero/news/h3-3840-600-notiziee.jpg" alt="">
            // </picture>

.hero-container{
    height:290px;
    overflow: hidden;
    .hero-text{
        font-family: var(--font-family-display-bold);
        font-size: var(--font-size-hero-title);
        color:rgb(251, 254, 255);
    }
    picture{
        height:inherit;
    }
}

//first div games//

.content-wrap{      
    display: flex;
    justify-content: center;
    width: 90vw;
    flex-direction: column;
    margin: 2rem 0;
    row-gap: 1rem;
    padding:10px;
}

.game-box{
    .game-image-default{
        height:100%;
        width:100%;
    } 
    .image_overlay::before{
        background:rgba(13, 16, 66, 0.9);
    }
    span{
        color:aliceblue;
    }
}


//text+h2//

h2 {                         
    @extend %flexcenter;
    font-family: var(--font-family-display-bold);
    font-size: var(--font-size-cards-title);
    // font-size:1.20rem;
    padding: 5px;
    text-align: center;
}

.text-p{
    display:block;
    text-align: center;
    line-height: 1.70rem;
    width:100%;
    font-family: var(--font-family-text-regular);
    font-size: var(--font-size-span);
    a{
        color:rgb(255, 0, 0);
    }
}


//second div games//

// .wrap_button_games{          //div del button sezione giochi
//     @extend %flexcenter;
//     height: 50px;
//     margin-top: 20px;  
// }
    
// .first-button_games{             //button sezione giochi
//     @extend %flexcenter;
//     text-decoration: none;
//     color: #161616;
//     border: 2px solid #161616;
//     line-height: 27px;
//     border-radius: 3px;
//     font-family: var(--font-family-text-regular);
//     font-size: var(--font-size-span);
//     color: #161616;
//     width: 100%;
//     position: relative;
//     @extend %start-scale-padding;

//     &:hover {
//         @extend %scale-padding;
//     }
//     .material-icons{
//         position: absolute;
//         right:10%;
//     }
// }
.main-wrap{
.content-details-first{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 111px;
    .details{
        display: flex;
        justify-content: center;
        border: 2px solid #161616;
        line-height: 27px;
        border-radius: 3px;
        color: #000000;
        font-size: var(--font-size-span);
        p{
            position:relative;
            margin: 0 6px;
            font-family: var(--font-family-display-regular);
        }
        .material-icons{
                position: absolute;
                left:100%;
                }
        @extend %start-scale-padding;
        &:hover{
            @extend %scale-padding;
        }
    }
}
}

h3 {                          
    @extend %flexcenter;
    font-family: var(--font-family-display-bold);
    font-size: var(--font-size-section-title);
    text-align: center
}


// span //
.block{
    display: flex;
    flex-direction: column;
    position:absolute;
    top:50%;
    text-align: center;  
    color: #a3a3a3;

    :hover{
    color:white;
   }
     a{
    height:30px;
   }
}

.game-box .image_overlay{ 
    :hover{
        .second{
         transform: translateY(20px);
         transition: .4s ease;
        }
        .third{
         transform: translateY(40px);
         transition: .4s ease;
        }      
    }    
}

a:not(:last-child){
    border-bottom: 1px solid rgba(255,255,255,.2);
    }

/////    

.wrap_button_games{
    display: flex;
    justify-content: center;
.temporary-button_games{            
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: #161616;
    border: 2px solid #161616;
    line-height: 27px;
    border-radius: 3px;
    font-family: var(--font-family-text-regular);
    font-size: var(--font-size-h6);
    color: #161616;
    width: 100%;
    height:45px;
    a{
        padding: 7px 0;
    }
    .left{
        border-right: 2px solid rgb(0, 0, 0);
        }
    .right{
        border-left: 2px solid rgb(0, 0, 0);;
    }
    .middle{
        width:100%;
        height:100%;
        display:flex;
        justify-content: center;
        // position: relative;
        border-style: none;
    }
    
    // &:hover {
       
    // }
    
    // .material-icons{
    //     position: absolute;
    //     right:0;
    //    }
}
}


////div playpro////

.box-card{
    position:relative;
    width:100%;
    height:100%;
    .image-card{
        width:100%;
        height:100%;
        display:block;
    }
}

.text-card{
    position:absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    text-align: center;
    top: 0;
    width: 100%;
    padding:32px 24px;
    .logo-play{
        max-width: 95%;
        padding-bottom: 2rem;
    }
    p{
        font-family: var(--font-family-text-regular);
        // font-size:0.95rem;
        font-size: var(--font-size-span);
        color:aliceblue;
        text-align: center;
        line-height: 1.70rem;
    }

    .content-details{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80px;
        .details{
            background-color: #fb0202;
            display: flex;
            justify-content: center;
            line-height: 27px;
            border-radius: 3px;
            color: #ffffff;
            font-size: var(--font-size-span);
            p{
                margin: 0 6px;
                font-family: var(--font-family-display-regular);
            }
            @extend %start-scale-padding;
            &:hover{
                @extend %scale-padding;
            }
        }
    }
}

////div pogo/////

.text-card-pogo{
    position:absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    height:100%;
    justify-content:center;
    left: 0;
    text-align: center;
    top: 0;
    width: 100%;
    padding:32px 24px;
    .logo-play{
        max-width: 95%;
        padding-bottom: 2rem;
    }
    p{
        font-family: var(--font-family-text-regular);
        font-size: var(--font-size-span);
        color:aliceblue;
        text-align: center;
        line-height: 2rem;
    }
    // .wrap_button_games{
    //     display:flex;
    //     flex-direction: column;
    //     height:150px;
    //     width:100%;
    //     justify-content: space-evenly;
    //     .button-pogo{
    //     @extend %flexcenter;
    //     text-decoration: none;
    //     border:none;
    //     border-radius: 3px;
    //     font-family: var(--font-family-text-regular);
    //     font-size: var(--font-size-span);
    //     width: 100%;
    //     padding:12px 24px;
    //     background-color: rgb(255, 255, 255);
    //     color:rgb(0, 0, 0);
    //     font-size:0.95rem;
    //     @extend %start-scale-padding;
    
    //     &:hover {
    //         @extend %scale-padding;
    //     }     
    //     }
    // }
    .main-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    .content-details{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        .details{
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            line-height: 27px;
            border-radius: 3px;
            font-size: var(--font-size-span);
            p{
                color: #161616;
                margin: 0 6px;
                font-family: var(--font-family-display-regular);
            }
            @extend %start-scale-padding;
            &:hover{
                @extend %scale-padding;
            }
        }
    }
}
}




//mq//

@media all and (min-width:768px) {      
    .content-wrap{
        width:82vw;
        .grid-games{
            display:grid;
            grid-template-columns: 1fr 1fr;
            gap:1.55rem;
        }
    }
    .wrap_button_games{
        .first-button_games{
            width: 250px;
        }
        .temporary-button_games{
            width:400px;
        }
    }

    .text-card{
        padding:32px 120px;
        .wrap_button_games{
            width:140px;
        }
    }

    .text-card-pogo{
        padding:32px 120px;
        .main-wrap{
            display:flex;
            flex-direction: row;
        }
    }
}

@media all and (min-width:1024px) {   
    .content-wrap{
        width:85vw;
        .grid-games{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.75rem; 
        }
    }
    .wrap_button_games{
        .first-button_games{
            width: 250px;
       }
    }
}

@media all and (min-width: 1456px) {     
    .content-wrap{
        width:75vw;
    }
}

