*{
    margin:0px;
    padding:0px;
}
.upperFooter{
    background-color:#eaeaea;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 18vh;

    .upperFooterContainer{
      width: 100%;
        padding-bottom: 5vh;
        display: flex;
        justify-content:center;
        align-items: center;
        
    
        .upperFooterGroup1{
            display: flex;
            flex-flow: wrap;
            height: 100%;
            justify-content: start;
            width: 80%;
        
        
            .upperFooterLink{
                text-decoration: none;
                color:black;
                margin-right: 50px;
            margin-bottom: 15px;
                height: 2vh;
            }

            .upperFooterLink:hover{
                color: red;
            }
        }  
        
        .upperFooterGroup2{
            display: flex;
            flex-direction: column;
            
            width: 45%;
         
       
            align-items: flex-end;
          

        
        .socialLinks {
            display: flex;
            justify-content: space-between;
            width: 50%;
          padding-left: 40px;
            
            


        }
        .joinConvFoot{
            display: flex;
            justify-content:flex-end;
            padding-left: 10px;
            padding-bottom: 10px;
            
          
        }

        }
    }
}

.lowerFooter{
    display: flex;
    justify-content:center;
    background-color: #f3f3f3;
   height: 30vh;
    
  
    
    


    .lowerFooterContainer{
        padding-top: 25px;
        padding-left: 10px;
        display: flex;
        
      
       
       
      
        .lowerFooterBlock{
            margin-left: 32px;

        
           .lowerFooterGroup1{
                display: flex;

            
                justify-content: space-between;
            
                .linksGroup1{
                    display: flex;
                
                    width: 100%;
                    flex-flow: wrap;
                
                    .lowerFooterLink{
                        text-decoration: none;
                        color:black;
                        margin-right: 50px;
                    margin-top: 13px; 
                    height: 25px;
                        font-size: 20px;
                    }
                }   
                .lowerFooterSelectors{
                    display: flex;
                    width: 45%;
                    justify-content: space-between
                }
           }
            .lowerFooterGroup2{
                display: flex;
            padding-top: 10px;
                height: 10vh;
                justify-content: space-between;
            }
.linksGroup2{
    display: flex;
   justify-content: space-between;
    width: 50%;
    flex-flow: wrap;
    
}
.lowerFooterLink2{
    text-decoration: none;
    color:black;
    margin-right: 50px;
    font-size: 18px;
    padding-top: 5px;
    
}
.electronicArts{
    padding-top: 10px;
}
.trustELogo{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
}
    }
}
}

/* -------------------------------------------Bottoni DropUp---------------------------------------*/
.dropbtn {
    background-color: #f3f3f3;
    color: black;
    padding: 16px;
    font-size: 16px;
    border-radius: 5px;
    width: 190px;
    height: 61px;
    line-height: 20px;
    border: 2px lightgray solid;
   
  }
  .dropup {
    position: relative;
    display: inline-block;
  }
  .dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #f1f1f1;
    min-width: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropupInsider{
    display: flex;
    flex-wrap: wrap;
    height: 540px;
    width: 700px;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    justify-content: start;
    margin-left: 35px;
  }
  .dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
  }
  .dropup-content a:hover {margin-left:px}
  .dropup:hover .dropup-content {
    display: block;
  }
  .dropup:hover .dropbtn {
    width: 193px;
    height: 64px;
  }
  .content{
    border-bottom: 2px lightgray solid;
    width: 110px;
  margin-top: 15px;
  margin-left: 35px;
  }
  .dropupInsider2{
    display: flex;
    flex-wrap: wrap;
    height: 540px;
    width: 100%;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    justify-content: start;
  }
  .dropup-content2 {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #f1f1f1;
    min-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropup-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
  }
  .dropup-content2 a:hover {margin-left:px}
  .dropup:hover .dropup-content2 {
    display: block;
  }
/* -------------------------------------------Media Queries---------------------------------------*/
@media screen and (max-width:768px){
  .upperFooter{
    height: fit-content;
    padding-top: 10px;
  }
  
    .upperFooterContainer{
      flex-direction: column;
    }
    .upperFooterGroup1{
      padding-left:0px;
    }
    .upperFooterGroup2{
     
      padding-right:180px ;
      align-items: flex-start;
     
    }
    .joinConvFoot{
      padding-right: 20px;
    }
    .socialLinks{
      padding-right: 20px;
     
    }
    
    .lowerFooter{
      height: 65vh;
      padding-left: 30px;
    }
    
      .lowerFooterContainer{
        flex-direction: column;
        height: 65vh;
        padding-left: 100px;
      }
      .lowerFooterGroup1{
        flex-direction: column;
      }
      .lowerFooterGroup2{
        flex-direction: column;
        height: 50vh
      }
      .linksGroup2{
        width: 100%;
      }
      .upperFooterLink{
        width: 12vh;
      }
      .upperFooterGroup2{
        display: flex;
        flex-direction: column;
        
        width: 100%;
        justify-content: flex-start;
  }
  .eaLogo{
  padding-left: 25px;
  }
  .lowerFooterSelectors{
    flex-direction: column;
  
  }
  .dropbtn{
    width: 70vw;
    height: 5vh;
    padding: 0 0 0 0;
  }
}
@media screen and (min-width:769px){
    .upperFooter{
     height: fit-content;
     padding: 12px 60px 12px; 
     
    }

  
      
     
     .lowerFooterContainer{
    
     
      padding-left: 100px;
 
     }
    }
  
  

  @media screen and (min-width:769px) and (max-width:1024px){
    .lowerFooterGroup1{
      flex-direction: column;
      justify-content: space-between;
    }
    .dropbtn{
      width: 40vw;
      height: 5vh;
      padding: 0 0 0 0;
      
    
    }
    .lowerFooter{
      height: 40vh
  
  }
}
    
  
  @media screen and (min-width:1025px)
  {
    .upperFooter{
      padding: 12px 76px 12px;
    
  }
  .lowerFooter{
    padding: 12px 76px 12px;
  
}
  }
  @media screen and (max-width:1456px) and (min-width:1025px){
  
  }
  @media screen and (min-width:1456px){
         
        .upperFooter{
         padding:  19px 168px 16px;
         }
         .lowerFooter{
          padding:  19px 168px 16px;
          }
      }
   
  