/* #### HEADER #### */

/* ==== UTILS ==== */

@keyframes open-user{ /* animazione apertura user board */
    0%{height: 0;
    padding: 0;}
    100%{height: 25rem;}
}

@keyframes slide-in-left { /* animazione apertura nav e giochi */
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}

/* ==== USER SPACE ==== */

.user-space{    /* Contenitore zona utente */
    height: 2.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--color-ea-dark);


    & > :nth-child(-n+3){ /* Dimensiona e distanzia i bottoni */
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1.25rem;
    }
    
}

.user-account-icon,
.user-help-icon{

    svg{
        height: 1.125rem;
        width: 1.125rem;
        fill: #b1b1b1;
        pointer-events: none;
        
    }
    
    &:hover {
        svg{
            fill: #f3f3f3;
        }
    }

}

.ea-logo{
    margin-right: 2rem;

    svg{
        height: 2rem;
        width: 2rem;
        fill: #797979;
        pointer-events: none;
    }

    &:hover svg{
        fill: #a3a3a3;
    }
}

.user-account-icon:hover~.user-board,
.user-help-icon:hover~.user-board,
.user-board:hover{  /* Condizioni apertura user board (temporanee) */
    display: flex;
    animation: open-user .25s  ease-in;
}

.user-board{
    font-family: var(--font-family-user-board);
    color: var(--color-light-gray);

    position: relative;
    flex: 0 0  100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    min-height: 25rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-ea-dark);
    
    padding: 3.5rem 0;
    justify-content: center;
    z-index: 2;

    a{
        color: #ff1e3c;
    }

    p{
        margin: 0;
    }

    .board-link{
        min-width: 13.438rem;
        max-width: 19rem;

        line-height: 1.35;

        display: flex;
        align-items: center;
        gap: .5rem;

        &:hover{
            transform: translatey(-.25rem);
        }
    }

    .board-title{
        margin-top: 2rem;
        font-family: var(--font-family-user-board-title);
        font-size: 1.125rem;
        font-weight: 800;
    }

    .board-help,
    .board-account{
        height: inherit;
        width: 100%;
        position: absolute;

        flex: 1;
    }

    .board-icon{
        height: 2.25rem;
    }

    .board-account{
        display: none;
    }

    .board-content-wrap{
        width: 85%;
        margin: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .board-grid{
        width: 17rem;
        margin: 1rem 0;
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(auto-fit, minmax(13.438rem, 16.5rem));
        row-gap: 1rem;
        column-gap: 2rem;
        justify-content: center;
    }

    .board-footer{
        font-size: .875rem;
        text-align: center;
    }
}

.user-board-close{ /* bottone chiusura user board */
    fill: #fff;
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    height: .813rem;
    width: .813rem;

    svg{
        transform: rotate(45deg);
    }
}

/* ==== HEADER / NAVBAR ==== */

header{
    height: 3.5rem;
    background-color: var(--color-white);
}

.upper-header{
    height: inherit;
    display: flex;
    align-items: center;
}

.header-menu-icon-wrap{
    width: 3rem;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    margin-left: .2rem;
}

.header-menu-icon{
    width: 20px;
}

.header-menu-icon-2{
    display: none;
    transform: rotate(90deg);
    width: 1.25rem;
    pointer-events: none;
}

.header-logo-esteso{
    width: 5.625rem;
}

/* navbar */

summary{
    font-family: var(--font-family-display-regular);
}

content{
    font-family: var(--font-family-text-light);
}

.header-navbar-wrap{

    display: none;

    .header-nav{
        width: 36.219rem;
        position: relative;

        & > ul{
            display: flex;
            flex-direction: row;

            position: absolute;
        }

        .details-1{

            margin-left: 1.5rem;
            
            white-space: nowrap;

            summary{
                list-style: none;
                display: flex;
                align-items: center;
                white-space: nowrap;
                transform: translateY(-50%);
                font-size: var(--font-size-summary-navbar);

                .chevron{
                    height: .75rem;
                    margin-left: .313rem;
                    fill: currentColor;

                    transform: scaleY(1);
                    transition: .5s;
                }
            }

            content{
                position: absolute;
                padding: 2.876rem 0 2.5rem 2.188rem;
                margin-top: .5rem;
                margin-left: -2.188rem;
                border-radius: 5px;
                background-color: rgba(255, 255, 255, 0.95);
            }

            .inner-list{
                margin-right: 3.438rem;
            }
            
            & .inner-ul.flex{
                display: flex;
            }
            
            .header-navbar-title{
                font-family: var(--font-family-text-bold);
                text-transform: uppercase;
                border-bottom: 1px solid #ccc;
                padding-bottom: .313rem;
            }

            &[open]{
                & > summary{
                    color: var(--color-ea-orange);
                }
    
                .chevron{
                    transform: scaleY(-1);
                    transition: .5s;
                }
            }

            .end-ul li{
                line-height: 1rem;
                margin: 1.25rem 0;
            }
        }

        & > ul > li:not(:first-of-type){

            content{
                padding-top: 0;
                padding-bottom: .625rem;
            }

            .inner-ul{
                padding-top: .375rem;
                margin-right: 3.438rem;

                li{
                    line-height: 1rem;
                    margin: 1.25rem 0;
                }
            }
        }

        a:hover{
            color:var(--color-ea-orange);
        }
    }
}

/* **** POPUP MENU **** */

.popup-menu-wrap{
    display: none;
    height: calc(100vh - 2.5rem);
    max-height: calc(100vh - 2.5rem);
    width: max(320px, 100vw);
    background-color: rgba(#202020, .8); /* Deve diventare un'animazione */
    position: absolute;
    top: 2.5rem;
}

/* Popup Navbar */

.popup-navbar-wrap{
    width: 320px;
    height: inherit;
    background-color: var(--color-white);
    transform: translateX(-100%);
    animation-name: slide-in-left;
    animation-duration: .5s;
    animation-fill-mode: forwards;

    z-index: 1;
    display: flex;
    flex-direction: column;

    .chevron{
        height: .96rem;
        width: 3.25rem;
        fill: currentColor;
    }

    .cross{
        height: 1.563rem;
        width: 3.25rem;
        fill: currentColor;
    }
}

.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.875rem;
    min-height: 3.313rem;
    background-color: var(--color-light-gray);
}

.header-logo-esteso-nav{
    width: 12.5rem;
}

.popup-close-icon{
    height: 2.25rem;
}

.popup-nav{
    background-color: var(--color-white);
    padding: 0 1.75rem;
    overflow: auto;

    summary{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .813rem 0 .75rem 0;
        line-height: 1.649rem;
    }

    & > ul > li:first-of-type .inner-ul > li{
        padding: 0;

        &:nth-child(1) .details-2{
            border-bottom: 1px solid currentColor;
        }
    }

    .details-1{
        summary{
            .chevron{
                transform: scaleY(1);
                transition: .5s;
            }
        }

        border-bottom: 1px solid currentColor;
        
        &[open]{
            border-color: var(--color-ea-orange);

            & > summary{
                color: var(--color-ea-orange);
                border-bottom: 1px solid currentColor;
            }

            .chevron{
                transform: scaleY(-1);
                transition: .5s;
            }
        }
    }

    .details-2{

        ul{
            font-family: var(--font-family-text-regular);
        }

        .end-ul{
                font-size: var(--font-size-header-popup-end-ul);
        }

        summary{
            padding: .875rem 0 .813rem .875rem;
        }

        .cross{
            height: .77rem;
            transform: rotate(0deg);
            transition: .5s;
        }

        &[open]{
            color: #252525;
            border-color: var(--color-black);
            
            summary svg.cross{
                transform: rotate(45deg);
                transition: .5s;
            }
        }

        .end-ul li{
            padding: 0 2.37rem;
            a{
                display: inline-block;
                padding: .438rem 0;
            }
            &:last-of-type a{
                padding-bottom: 1.25rem;
            }
        }
    }

    .inner-ul{
        & a{
            font-family: var(--font-family-text-regular);
        }
    }

    .inner-ul > li,
    .inner-ul > a > li{
        color: var(--color-ea-logo-gray);
        padding: .875rem 0 .813rem .875rem;
    }

    & li:nth-child(n + 2) .inner-ul > a:nth-last-of-type(n + 2) > li{
        border-bottom: 1px solid currentColor;
    }
}

/* Popup games */

/* .popup-games-wrap{

} */

/* ==== MEDIA QUERIES ==== */

@media screen and (min-width: 321px){

    .header-logo-esteso{
        width: 6.25rem;
    }

    .popup-navbar-wrap{
        width: min(86.5%, 23.438rem);
    }
}

@media screen and (min-width: 376px) {
    .header-logo-esteso{
        width: 6.875rem;
    }
}

@media screen and (min-width: 544px) {
    .user-board .board-grid{
        width: min(100%, 40rem);
        row-gap: 1.5rem;
        margin: 1.5rem 0;
    }
}

@media screen and (min-width: 768px){
    .header-logo-esteso{
        width: 11.11rem;
    }
}

@media screen and (min-width: 1024px){
    .user-board .board-grid{
        width: 35rem;
    }

    .user-board .board-link {
        flex-direction: column;
      }
}

@media screen and (min-width: 1032px) {

    .header-navbar-wrap{
        display: block;
    }

    .header-menu-icon{
        display: none;
    }

    .header-menu-icon-2{
        display: block;
    }

    .header-logo-esteso{
        width: 12.5rem;
        margin-left: 1.188rem;
        margin-right: 2rem;
    }
}

@media screen and (min-width: 1456px) {

    .header-navbar-wrap .header-nav{
        .details-1{
            margin-left: 2.33rem;
        }
        & > ul > li:first-of-type > .details-1{
            margin-left: 1.97rem;
        }
    }

    header{
        height: 3.75rem;
    }

    .header-logo-esteso{
        margin-right: 1.875;
    }
}

/* display control (da togliere in futuro) */

.user-board {
    display: none;
  }
  
.popup-menu-wrap{
    display: none;
}

