$xs:320px;
    $sm:768px;
    $md:1024px;
    $lg:1320px;
    $xl:1456px;
    $xxl:1457px;
///mixins
@mixin heroContent{
    .hero-media video{
        display:none;
        position: absolute;
    }
}      
 //media queries   
@mixin md { 
    @media screen and (min-width:$md) {
        .hero-media video{
            position: absolute;
            display:block;
        }
    }
}
