$xs:320px;
    $sm:768px;
    $md:1024px;
    $lg:1320px;
    $xl:1456px;
    $xxl:1457px;
    
@mixin md { 
    @media screen and (max-width:$md) {
        .hero-media video{
            display:none;
        }
    }
}
