@use 'layouts';
@use 'basic-layout';
@use 'colors';
@use 'tipography';
@use 'header';
@use 'footer';
@use 'hero';



body,
html {
    background-color: #f3f3f3;

}

.EASPORTS-big-wrap{
display: flex;
flex-direction: column;
}

.EASPORTS-firstwrap{
    // position: absolute;
    // z-index: 1;
    // background-image: url(/assets/images/EASPORTSpage/fr-fr-others-pegi-16xl.png.adapt.1920w.png);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px calc((100vw - 1120px)/2);
   


}

.EASPORTS-secondwrap{
    width: 100%;
    display: flex;
    justify-content: center;
    
}




.EASPORTS-blackground{
    z-index: 1;
    position: absolute;
   

}

// .EASPORTS-gradientbackground{
//     width: 100%;
//     height: 20vh;
// }

.content-wrap {
    // section-wrapper

   position: relative;
   z-index: 1;
    display: flex;
    justify-content: center;
    width: 90vw;
    flex-direction: column;
    margin-top: 20%;
    row-gap: 1rem;
    padding: 10px;
}


.EASPORTS-video{
    position: absolute;
    top:0;
 max-height: 160vh;
    max-width: 100%;

}



.title-game{
    @extend %flexcenter;
    flex-direction: column;
position: relative;
    span{
    color: #ff4747}
}


h3 {
    //titolo della sezione
    @extend %flexcenter;
    color: rgb(243 243 243);
    font-family: var(--font-family-display-bold);
    font-size: 54px;
    padding: 50px;
    text-align: center
}

h4{
    color: rgb(243 243 243);
    font-family: var(--font-family-text-bold);
    font-size:24px;
    text-align: center;
    padding: 30px;
    
}



.game-box:hover .game-image{
    filter:none;
}





.game-box:hover .image_overlay {


    .logo {
        transform: scale(1.1)

    }


}

.image_overlay>* {
    transition: transform 0.40s;
}


.image_overlay::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image:none;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}

.image_overlay:hover::before {
    opacity: 0.9;
}











.wrap_button_games {
    //div del button sezione giochi
    @extend %flexcenter;
    height: 50px;
    margin-top: 20px;
    color: #f3f3f3;


    .button_games {
        //button sezione giochi
        @extend %flexcenter;
        text-decoration: none;
        color: #f3f3f3;
        border: 2px solid #f3f3f3;
        line-height: 27px;
        border-radius: 3px;
        font-family: var(--font-family-text-regular);
        font-size: var(--font-size-span);
        width: 100%;
        @extend %start-scale-padding;

        &:hover {
            @extend %scale-padding;
        }
    }
}





@media all and (min-width:768px) {
    .content-wrap {
        width: 82vw;

        .grid-games {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.55rem;
        }
    }

    .wrap_button_games {
        .button_games {
            width: 200px;
        }
    }
}

@media all and (min-width:1024px) {
    .content-wrap {
        width: 85vw;

        .grid-games {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.75rem;
        }
    }

    .wrap_button_games {
        .button_games {
            margin-top:40px;
            width: 250px;
        }
    }
}

@media all and (min-width: 1456px) {
    .content-wrap {
        width: 75vw;
    }
}