/* === Reset === */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul{
    list-style: none;
}
a,
a:hover,
a:active{
    text-decoration: none;
    color: currentColor;
}

/* === Global body === */

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-wrap,
.footer-wrap{
    flex: 0 0 fit-content;
}

.main-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 0px calc((100vw - 1120px)/2);
}
.main-content-wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
    width: 90vw;
    background-color: transparent;
    padding: 10px;
}
.title{
    height: 100%;
    margin-bottom: 25px;
    font-family: var(--font-family-display-bold);
    h1{  
        font-size: var(--font-size-section-title);
    }
}
.navTab{
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    .navTabArticles{
        display: flex;
        width: 1120px;
        overflow-y: hidden;
        overflow-x: auto;
        .linkTab{
            display: flex;
            align-items: center;
            position: relative;
            line-height: 27px;
            color: #161616;
            height: 60px;
            .content{
                padding: 0 15px;
                font-family: var(--font-family-display-regular);
                font-size:var(--font-size-span);
                letter-spacing: 0.4px;
                border-left: 1px solid rgba(0, 0, 0, 0.08);
                border-right: 1px solid rgba(0, 0, 0, 0.08);
                width: 100%;
                display: block;
                white-space: nowrap;
            }
        }
        .linkTab:first-child .content{
            border-left: none;
        }
        .linkTab:last-child .content{
            border-right: none;
        }
        & .linkTab:focus{
            background-color: rgba(0, 0, 0, 0.08);
            border-bottom: 2px solid red;
            margin-bottom: -2px;
        }
    }
}
@media screen and (min-width:769px){
    .main-content-wrap{
        width: 85vw;
        gap: 18px;
        .navArticles{
            overflow-y: hidden;
            overflow-x: hidden;
        }
    }
}
@media  screen and(min-width:1024px) {
    .main-content-wrap{
        width: 85vw;
        gap: 16px;
        .navArticles{
            overflow-y: hidden;
            overflow-x: hidden;
        }
    }
}
@media screen and(min-width: 1457px){
    .main-content-wrap{
        width: 1120px;
    }
}