/* == Layouts == */

//scale padding button details


/* Griglia giochi */


/* Giochi e Hover giochi */



/* Griglia articoli */
@mixin article-card ($width){
    display: flex;
    position: relative;
    flex: 1 auto;
    flex-direction: column;
    width: $width;
    background-color: white;
    cursor: pointer;
}
@mixin article-text ($just-cont, $p-display){
    display: flex;
    flex-direction: column;
    justify-content: $just-cont;
    padding: 24px;
    div{
        font-size: 1.4rem;
        font-weight: 600;
        span{
            color: red;
            font-size: 1.4rem;
            margin-right: 16px;
            font-weight: 600;
        }
    }
    h3{
        font-size: 2.4rem;
        margin-top: 6px;
        line-height: 32.4px;
        letter-spacing: -0.6px;
        font-weight: 600;
    }
    p{
        display: $p-display;
        font-size: 1.8rem;
        line-height: 27px;
        margin-top: 6px;
    }
}



/* Articoli e hover articoli */


//inserirlo sull'oggetto per la transizione slow alla rimozione del mouse
%shadow-start{ 
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(0);
    transition: 0.5s;
}
//inserirlo sull'hover
%shadow-hover{ 
    transform: translateY(-12px);
    z-index: 1;
    transition: 0.5s;
    box-shadow: 0 20px 25px 0px rgba(0, 0, 0, 0.6);
}
