@use 'layouts';
@use 'basic-layout';
@use 'colors';
@use 'tipography';
@use 'header';
@use 'footer';

/* == Page == */

// INIZIO -->   Sezione Giochi --Giuseppe Filannino

body,
html {
    background-color: #f3f3f3;
}

.content-wrap{      // section-wrapper
    display: flex;
    justify-content: center;
    width: 90vw;
    flex-direction: column;
    margin: 2rem 0;
    row-gap: 1rem;
    padding:10px;
}

h3 {                          //titolo della sezione
    @extend %flexcenter;
    font-family: var(--font-family-display-bold);
    font-size: var(--font-size-section-title);
    padding: 10px;
    text-align: center
}

.wrap_button_games {          //div del button sezione giochi
    @extend %flexcenter;
    height: 50px;
    margin: 20px;


    .button_games {             //button sezione giochi
        @extend %flexcenter;
        text-decoration: none;
        color: #161616;
        border: 2px solid #161616;
        line-height: 27px;
        border-radius: 3px;
        font-family: var(--font-family-text-regular);
        font-size: var(--font-size-span);
        color: #161616;
        width: 80vw;
        @extend %start-scale-padding;

        &:hover {
            @extend %scale-padding;
        }
    }
}


@media all and (min-width:768px) {      
    .content-wrap{
        width:82vw;
        .grid-games{
            display:grid;
            grid-template-columns: 1fr 1fr;
            gap:1.55rem;
        }
    }
    .wrap_button_games {
        .button_games {
            width: 200px;
        }
    }
}

@media all and (min-width:1024px) {   
    .content-wrap{
        width:85vw;
        .grid-games{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.75rem; 
        }
    }
    .wrap_button_games {
        .button_games {
            width: 200px;
       }
    }
}

@media all and (min-width: 1456px) {     
    .content-wrap{
        width:75vw;
    }
}

// FINE --> Sezione Giochi --Giuseppe Filannino



.article-card{
        @include layouts.article-card(100%);
        @extend %shadow-start;
            &:hover{
                @extend %shadow-hover;
        }
        img{
            display: none;
        }
        .article-text{
            text-align: center;
            @include layouts.article-text(center, none);
        }
    }
.content-details{
    display: flex;
    align-items: center;
    height: 111px;
    .details{
        border: 2px solid #161616;
        line-height: 27px;
        border-radius: 3px;
        color: #161616;
        font-size: var(--font-size-span);
        p{
            margin: 0 6px;
            font-family: var(--font-family-display-regular);
        }
        @extend %start-scale-padding;
        &:hover{
            @extend %scale-padding;
        }
    }
}    
@media screen and (min-width:769px){
    .article-card{
        @include layouts.article-card(40%);
        img{
            display: block;
        }
        .article-text{
            text-align: left;
            @include layouts.article-text(start, block);
        }
    }
}
@media screen and (min-width:1025px){
    .article-card{
        @include layouts.article-card(30%);
    }
}
@media screen and (min-width:1457px) {
    .article-card{
        @include layouts.article-card(30%);
    }
}

