@use 'layouts';
@use 'basic-layout';
@use 'colors';
@use 'tipography';
@use 'header';
@use 'footer';

/* == Page == */

// INIZIO -->   Sezione Giochi --Giuseppe Filannino

body,
html {

    background-color: #f3f3f3;
}








.grid-games-wrap {    //main div
    height: 100%;
    width: 100%;
    gap: 20px;
    display: grid;
    justify-content: center;
    grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6";


}


h3 {                 //titolo della sezione
    @extend %flexcenter;
    font-family: var(--font-family-display-bold);
    font-size: var(--font-size-section-title);

    padding: 10px;
}






.card_svgs {                //svg interne alle card
    position: absolute;
    height: 90px;
    transition-duration: 0.5s;

}

.card_svgs_smaller {    //svg interne alle card(battlefield, the sims) da rimpicciolire ulteriormente
    position: absolute;                                          //e con un altro scaling in translateY
    height: 70px;
    transition-duration: 0.5s;
}

.card1 {                //FIFA 23
   

    grid-area: "card1";
    

}


.card2 {                //APEX Mobile


    grid-area: "card2";

}





.card3 {                //FORMULA 1 2022

    grid-area: "card3";

}



.card4 {            // BATTLEFIELD

    grid-area: "card4";
}



.card5 {            //APEX LEGENDS


    grid-area: "card5";

}





.card6 {      //THE SIMS


    grid-area: "card6";

}



.wrap_button_games {          //div del button sezione giochi
    @extend %flexcenter;
    height: 50px;
    margin: 20px;


    .button_games {             //button sezione giochi
        @extend %flexcenter;
        text-decoration: none;
        color: #161616;

        border: 2px solid #161616;
        line-height: 27px;
        border-radius: 3px;
        font-family: var(--font-family-text-regular);
        font-size: var(--font-size-span);
        color: #161616;
        width: 80vw;
        @extend %start-scale-padding;

        &:hover {
            @extend %scale-padding;
        }
    }
}






@media all and (min-width:768px) {          //query tablet verticale

    :root{
        --heigth-homepage-cardgames: 42vh;
        --width-homepage-cardgames: 40vw;
        }

    .grid-games-wrap {

        gap: 20px;
        display: grid;
        justify-content: center;
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6";
    }

    .card_games {

        

        &:hover {
           

            .card_svgs {

                transform: translateY(-100%);
                transition-duration: 0.5s;

            }

            .card_svgs_smaller {
                transform: translateY(-140%);
                transition-duration: 0.5s;
            }
        }
    }

    .card_svgs {
        height: 60px;
    }

    .card_svgs_smaller {
        height: 40px;
    }

    .wrap_button_games {


        .button_games {

            width: 200px;

        }
    }
}

@media all and (min-width:1024px) {             //query tablet orizzontale

    :root{
        --heigth-homepage-cardgames: 40vh;
        --width-homepage-cardgames: 25vw;
        }

    .grid-games-wrap {


        gap: 20px;
        display: grid;
        justify-content: center;
        grid-template-areas:
            "card1 card2 card3"
            "card4 card5 card6";
    }

    .card_games {

       

        &:hover {
           

            .card_svgs {

                transform: translateY(-100%);
                transition-duration: 0.5s;

            }

            .card_svgs_smaller {
                transform: translateY(-140%);
                transition-duration: 0.5s;
            }
        }

    }

    .card_svgs {
        height: 60px;
    }

    .card_svgs_smaller {
        height: 40px;
    }



    .wrap_button_games {


        .button_games {

            width: 200px;

        }
    }


}

@media all and (min-width: 1456px) {            //query desktop

    :root{
        --heigth-homepage-cardgames: 47vh;
        --width-homepage-cardgames: 23.5vw;
        }

    .grid-games-wrap {


        gap: 20px;
        display: grid;
        justify-content: center;
        grid-template-areas:
            "card1 card2 card3"
            "card4 card5 card6";
    }


    .card_games {

        height: 47vh;
        width: 23.5vw;

        &:hover {
           

            .card_svgs {

                transform: translateY(-110%);
                transition-duration: 0.5s;

            }

            .card_svgs_smaller {
                transform: translateY(-150%);
                transition-duration: 0.5s;
            }
        }
    }

}

// FINE --> Sezione Giochi --Giuseppe Filannino



.article-card{
        @include layouts.article-card(100%);
        @extend %shadow-start;
            &:hover{
                @extend %shadow-hover;
        }
        img{
            display: none;
        }
        .article-text{
            text-align: center;
            @include layouts.article-text(center, none);
        }
    }
.content-details{
    display: flex;
    align-items: center;
    height: 111px;
    .details{
        border: 2px solid #161616;
        line-height: 27px;
        border-radius: 3px;
        color: #161616;
        font-size: var(--font-size-span);
        p{
            margin: 0 6px;
            font-family: var(--font-family-display-regular);
        }
        @extend %start-scale-padding;
        &:hover{
            @extend %scale-padding;
        }
    }
}    
@media screen and (min-width:769px){
    .article-card{
        @include layouts.article-card(40%);
        img{
            display: block;
        }
        .article-text{
            text-align: left;
            @include layouts.article-text(start, block);
        }
    }
}
@media screen and (min-width:1025px){
    .article-card{
        @include layouts.article-card(30%);
    }
}
@media screen and (min-width:1457px) {
    .article-card{
        @include layouts.article-card(30%);
    }
}
