@use 'layouts';
@use 'basic-layout';
@use 'colors';
@use 'tipography';
@use 'header';
@use 'footer';
@use 'hero';

/* == Page == */

// INIZIO -->   Sezione Giochi 

body,
html {
    background-color: #f3f3f3;
}

.content-wrap {
    // section-wrapper
    display: flex;
    justify-content: center;
    width: 90vw;
    flex-direction: column;
    margin: 2rem 0;
    row-gap: 1rem;
    padding: 10px;
}

h3 {
    //titolo della sezione
    @extend %flexcenter;
    font-family: var(--font-family-display-bold);
    font-size: var(--font-size-section-title);
    padding: 10px;
    text-align: center
}


.image_overlay:hover {
    background: linear-gradient(0deg, rgb(11, 5, 52, 0.7), rgba(11, 5, 52, 0.7));
}

.ea-links {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;




}


.image_overlay:hover {

    .ea-links {


        .span_translate_middle {



            // transform: translateY(40px);
            // transition-duration: 0.5s;

        }

        .span_translate_lower {

            // transform: translateY(80px);
            // transition-duration: 6s;


        }
    }

}




.wrap_button_games {
    //div del button sezione giochi
    @extend %flexcenter;
    height: 50px;
    margin: 20px;


    .button_games {
        //button sezione giochi
        @extend %flexcenter;
        text-decoration: none;
        color: #161616;
        border: 2px solid #161616;
        line-height: 27px;
        border-radius: 3px;
        font-family: var(--font-family-text-regular);
        font-size: var(--font-size-span);
        color: #161616;
        width: 80vw;
        @extend %start-scale-padding;

        &:hover {
            @extend %scale-padding;
        }
    }
}


@media all and (min-width:768px) {
    .content-wrap {
        width: 82vw;

        .grid-games {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.55rem;
        }
    }

    .wrap_button_games {
        .button_games {
            width: 200px;
        }
    }
}

@media all and (min-width:1024px) {
    .content-wrap {
        width: 85vw;

        .grid-games {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.75rem;
        }
    }

    .wrap_button_games {
        .button_games {
            width: 200px;
        }
    }
}

@media all and (min-width: 1456px) {
    .content-wrap {
        width: 75vw;
    }
}